table {
    min-width: 1024px;
}
th  {
    color: darkblue;
    cursor: pointer;
    background-color: powderblue;
}

.nothing-found {
    background-color: whitesmoke;
    font-size: 2em;
    text-align: center;
    padding: 20px;
}

tfoot {
    background-color: powderblue;
}

input {
    float: left;
}